.jumbotron {
    background-color: rgb(40, 104, 165);
    text-align: center;
    color: blanchedalmond;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.top-card {
    height: 100%;
    /* border: 5px solid rgb(85, 14, 14);   */
}

.worst-card {
    height: 100%;
}

/* .top-card .card-body {
    border: 3px solid salmon;
    
} */

.img-fluid {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.card-badge {
    width: 20%;
}

.top-card {
    position: relative;
}

.card-badge {
    position: absolute;
    left: 0;
    border-radius: 10%;
}